version: "3.8"

services:
  actual:
    image: actualbudget/actual-server:latest
    container_name: actual-budget
    ports:
      - "15006:5006"
    volumes:
      - actual_data:/data
    restart: unless-stopped

volumes:
  actual_data:
