version: "3.8"

services:
  actual:
    image: actualbudget/actual-server:latest
    container_name: actual-budget
    volumes:
      - actual_data:/data
    restart: unless-stopped

  caddy:
    image: caddy:latest
    container_name: actual-caddy
    restart: unless-stopped
    command: ["caddy", "run", "--config", "/etc/caddy/Caddyfile", "--adapter", "caddyfile"]
    ports:
      - "18080:80"
      - "18443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - caddy_caddyfile:/etc/caddy

volumes:
  actual_data:
  caddy_data:
  caddy_config:
  caddy_caddyfile:
